body{
  $background-color: #383838; // A shade of black
  $header-background-color: #2ecc71; // A shade of green

  margin: auto;
  background-color: white
  //background-image: url("../assets/Alexander Theme.webp");
  //background-size: cover;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
}